<div class="collapse navbar-collapse" id="navbarAdmin">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/empleado-registro">Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/alumno-registro">Alumnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/herramienta-registro">Herramientas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/prestamo-registro">Préstamos</a>
            </li>
        </ul>
        <span class="navbar-text me-3 d-none d-sm-inline">
          Administrador
        </span>
        <a class="btn btn-outline-light btn-sm" routerLink="/login" (click)="onLogout()">
          Cerrar sesión
        </a>
      </div>